# These are the config values for running the application in production
DOMAIN=yourdomain.com
# Subdomain for the API server, this will be prepended to the DOMAIN
# ie: ${API_SUBDOMAIN}.${DOMAIN}
API_SUBDOMAIN=api

# Acme is the Let's Encrypt client
# which is the free service to get SSL certificates in an automated way
ACME_EMAIL=youremail@yourdomain.com

TRAEFIK_LOG_LEVEL=INFO

# You can use these credentials to password protect Traefik Dashboard
USERNAME=test
# Hashed password generated with htpassd
HASHED_PASSWORD=$apr1$zrnl5uk3$D7UBeJJonrZ2pmuccsVBr/

# Port where the API service will run off
SERVER_PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=supersecure
POSTGRES_DB=movies_db
